html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: "OpenSans", sans-serif;
  font-size: 18px;
  scroll-behavior: smooth;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  width: 0 !important;
}

img {
  width: 100%;
}

.container {
  width: 100%;
  max-width: 1700px;
  margin: 0 auto;
  padding: 0 50px;
}

.ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.text {
  margin: 0;
}

/* .link {
} */

.btn {
  cursor: pointer;
  border-color: transparent;
  background-color: transparent;
  color: #fff;
}

.burger {
  position: relative;
  width: 36px;
  height: 28px;
  flex-shrink: 0;
}
.burger [class*="bar-"] {
  position: relative;
  background: #fff;
  display: block;
  height: 13%;
  margin-bottom: 24%;
  transition-property: background-color, transform;
  transition-duration: 0.2s;
  transition-timing-function: ease;
}
.burger:hover [class*="bar-"] {
  background-color: #9d5cd0;
}
.burger:focus,
.burger:focus-visible {
  outline: none;
}
.burger:focus [class*="bar-"],
.burger:focus-visible [class*="bar-"] {
  background-color: #9d5cd0;
  outline: none;
}
.burger:active:focus,
.burger:active:focus-visible {
  outline: none;
}
.burger:active:focus [class*="bar-"],
.burger:active:focus-visible [class*="bar-"] {
  background-color: #7943a4;
  outline: none;
}

.burger .burger__bar-top {
  width: 100%;
}
.burger .burger__bar-mid {
  width: 78%;
}
.burger .burger__bar-bot {
  width: 66%;
  margin-bottom: 0;
}
.burger.is-active [class*="bar-"] {
  transform: scaleX(0%);
}

.burger__closer {
  position: relative;
  width: 29px;
  height: 29px;
  margin-bottom: 46px;
  cursor: pointer;
}
.burger__closer [class*="closer-"] {
  position: absolute;
  top: 44.8%;
  left: -11%;
  background: #fff;
  width: 127.6%;
  display: block;
  height: 10.3%;
  transition-property: background-color, transform;
  transition-duration: 0.2s;
  transition-delay: 0.2s;
  transition-timing-function: ease;
}
.burger__closer-l {
  transform: rotate(45deg);
}
.burger__closer-r {
  transform: rotate(-45deg);
}

.search {
  position: relative;
  background-color: transparent;
  padding: 0;
  padding-left: 0;
  padding-bottom: 2px;
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff;
}
.search::placeholder {
  color: #fff;
  opacity: 0.85;
}

@media screen and (max-width: 576px) {
  .container {
    padding: 0 15px;
  }

  .burger {
    width: 25px;
    height: 18px;
  }

  .burger [class*="bar-"] {
    height: 11.1%;
    margin-bottom: 24%;
  }
  .burger .burger__bar-top {
    width: 100%;
  }
  .burger .burger__bar-mid {
    width: 64%;
  }
  .burger .burger__bar-bot {
    width: 40%;
  }
}

@media screen and (max-width: 320px) {
  .burger__closer {
    width: 15px;
    height: 15px;
    margin-bottom: 21px;
  }
}
